@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;&display=swap');
:root{
    --background-color:#FBFBFB;
    ---green-background-color:#153E52;
    --dark-green-color:#113448;
    --light-green-color:#14BF98;
    --dark-gray-color:#484A46;
    --light-gray-color:#787976;
    --white-color:#FFFFFF;
    --disabled-color:#E9ECEF;
    --dark-white-color:#DFE5EC;
    --light-gray-border-color:#EBE8E8;
    --form-input-background-color:#2A5D77;
    --form-input-border-color:#39728F;

    --image-contrast:60%;
    --image-grayscale:25%;
}

body{
    margin:0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p, a, span, button, li, input, textarea,label,select,option{
    font-family: 'Open Sans' , sans-serif;
}

button{
    cursor: pointer;
    border:1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.125s ease-in-out;
    font-weight: 700;
    letter-spacing: 0.3ch;
    font-size: 0.75rem;
}

button:hover{
    background-color: transparent;
    color: var(--light-green-color);
}

.section-title{
    color:var(--light-green-color);
    text-transform: uppercase;
    padding: 1rem 0px;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

.green-text{
    color: var(--light-green-color);
}

nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: fixed;
    justify-content: space-between;
    top:0;
    left:0;
    width: 100%;
    padding: 2.8rem 6.25rem;
    box-sizing: border-box;
    align-items: center;
    color: var(--white-color);
    z-index: 100;
}
.scrolled{
    position: fixed;
    height:54px;
    width:100%;
    top: 0;
    left: 0;
    /* border:2px solid black; */
    display:flex;
    justify-content: space-between;
    background-color:RGB(17, 52, 72);
    font-family :"Open Sans" sans-serif;
    padding: 10px 6.25rem;
    /* z-index: 1000;  */
}
nav a {
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.125 ease-in-out;
}

nav a:visited{
    color: var(--white-color);
}

nav a:hover{
    color: var(--light-green-color);
}
nav img{
    height: 2.5rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

nav ul .icon{
    background-color: var(--light-green-color);
    padding:0.6rem;
    cursor:pointer;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 10.9px;
}

nav ul .icon:hover{
    background-color: var(--white-color);
}

nav ul .icon:hover a{
    color: var(--light-green-color);
}

.home{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url('./header-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    gap: 1.5rem;
}

.home h1{
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: -2rem;
}

.home p{
    font-size: 1.5rem;
    width: 41.55%;
}

.intro{
    padding:5rem 13vw;
    background-color: var(--white-color);
}

.intro .content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.intro .content .text{
    width:40%;
    flex-shrink: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}

.intro .content .text h3{
    color: var(--dark-gray-color);
    font-size: 2rem;
}

.intro .content .text p{
    color:var(--light-gray-color);
    font-weight: 400;
    line-height: 1.5rem;
}

.intro .content .text h4{
    color: var(--dark-gray-color);
    line-height: 2rem;
}
.intro .content .image-container{
    width:60%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter:grayscale(25%);
    cursor: pointer;
}
.intro .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.intro .content img:hover{
    transform: scale(1.5);
}

.intro .skill-list-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top:5rem;
}

.intro .skill-list-container .skill-item{
    width:30%;
    line-height: 1.5rem;
}

.intro .skill-list-container .skill-item .hex{
    background-color: var(--light-green-color);
    padding: 2rem 2.5rem 2rem 2.5rem;
    border-radius: 2.1rem;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}
.intro .skill-list-container .skill-item .hex i{
    color: var(--white-color);
    font-size: 1.5rem;
}
.intro .skill-list-container .skill-item h4{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--dark-gray-color);
}

.intro .skill-list-container .skill-item p{
    color: var(--light-gray-color);
}

.services{
    padding: 5rem 0;
}

.services > span{
    display: block;
    text-align: center;
}

.services > h3{
    text-align: center;
    font-size: 1.75rem;
    color: var(--dark-gray-color);
}

.services .service-list-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem 13vw;
    align-items: start;
}

.services .service-list-container .service-item{
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--light-gray-border-color);
    border-radius: 5px;
    background-color: var(--white-color);
}

.services .service-item img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: grayscale(25%) contrast(60%);
    border-radius: 5px 5px 0 0;
}

.services .service-item h4{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray-color);
    padding: 0.5rem 2rem;
}

.services .service-item p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
    padding: 0.5rem 2rem;
}

.services .service-item  ul{
    line-height: 1rem;
    color: var(--light-gray-color);
    padding: 0.5rem 2rem;
    list-style-type: none;
}

.services .service-item  ul li::before{
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.services .service-item h6{
    font-size: 1.25rem;
    color: var(--dark-gray-color);
    text-align: center;
    padding: 0.5rem 2rem;
}

.services h6 .price{
    color: var(--light-green-color);
}

.services .service-item button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.services .service-item button:hover{
    background-color: var(--white-color);
}

.services .propositions{
    display: flex;
    flex-direction: row;
    background-color: var(--white-color);
}

.services .propositions img{
    width: 50%;
    filter: grayscale(25%) contrast(60%);
    height: 35rem;
    object-fit: cover;
    object-position: center;
}
.services .propositions .content{
    width: 60%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.services .propositions-1 .content{
    padding:5rem 20vw 5rem 5rem;
    margin-left: -10px;
    /* align-self: center;
    justify-items: center; */
}

.services .propositions-1 h4{
    color: var(--dark-gray-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.125s ease-in-out;
}

.services .propositions-1 p{
    padding-left: 3rem;
    margin-top: -1.5rem;
}

.services .propositions-1 h4 span{
    border-radius: 50%;
    padding: 0 0.6rem;
    border:1px solid var(--dark-gray-color);
    color: var(--dark-gray-color);
    margin-right: 0.5rem;
    transition: all 0.125s ease-in-out;
    font-size: 1.7rem;
}

.services .propositions-1 h4.active span{
    border:1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
}

.services .propositions-1 h4:not(.active):hover span{
    border-color: var(--light-green-color);
    color: var(--light-green-color);
}

.services .propositions-1 h4.active, .services .propositions-1 h4:hover{
    color: var(--light-green-color);
}

.services .propositions-2{
    margin-top: -10px;
}

.services .propositions-2 .content{
    padding:5rem 5rem 5rem 20vw;
    margin-left: -150px;
    align-self: center;
    justify-items: center;
}

.services .propositions-2 .content h3{
    margin-top: 0.1rem;
}

.services .propositions-2 .content p{
    margin-top: -2rem;
}

.services .propositions-2 .category-list-container{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.services .propositions-2 .category-item h3{
    color: var(--light-gray-color);
    transition: color 0.125s ease-in-out;
    cursor: pointer;
}

.services .propositions-2 .category-item.active h3,.services .propositions-2 .category-item h3:hover{
    color: var(--light-green-color);
}

.services .propositions-2 .skill-list-container{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    padding-top: 0rem;
}

.services .propositions-2 .skill-item h6{
    color: var(--dark-gray-color);
    font-size: 1rem;
    margin-top: 0.5rem;
}

.services .propositions-2 .skill-item .progess-bar{
    height: 1.5rem;
    background-color: var(--light-green-color);
    border-radius: 5px;
    margin-top: -2rem;
    width: 0;
}

.services .propositions-2 .skill-item .progess-bar.p-100{
    width: 100%;
}

.services .propositions-2 .skill-item .progess-bar.p-76{
    width: 76%;
}

.services .propositions-2 .skill-item .progess-bar.p-90{
    width: 90%;
}

.services .propositions h3{
    font-size: 1.75rem;
    color:var(--dark-gray-color);
}

.services .propositions p{
    line-height: 1.5rem;
    color:var(--light-gray-color)
}

.services .testimonials{
    padding: 5rem 19vw;
}

.services .testimonials h3{
    color: var(--dark-gray-color);
    text-align: center;
    font-size: 1.75rem;
}

.services .testimonials p{
    color:var(--light-gray-color);
    text-align: center;
}

.services .testimonial-list-container{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    overflow-x: scroll;
    padding:3rem 0;
}

.services .testimonial-item{
    width:27.7%;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.services .testimonial-item img{
    width: 6rem;
    border-radius: 50%;
}

.services .testimonial-item p{
    line-height: 1.5rem;
    color: var(--light-gray-color);
}

.services .testimonial-item h4{
    color: var(--dark-gray-color);
}

.call_me {
    padding: 5rem 13vw;
    background-color: var(---green-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call_me .content, .call_me .form{
    width:45%;
    flex-grow: 0;
    flex-shrink: 0;
    color:var(--white-color);
}

.call_me .content h3{
    font-size: 1.75rem;
}

.call_me .content p{
    line-height: 1.5rem;
    color:var(--light-gray-border-color);
}

.call_me .content ul{
    padding: 0;
    list-style-type: none;
}
.call_me .content ul li::before{
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.call_me form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.call_me form .terms-container label{
    color: var(--light-gray-border-color);
}

.call_me form input, .call_me select{
    background-color: var(--form-input-background-color);
    color: var(--white-color);
    border:1px solid var(--form-input-border-color);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.projects{
    padding: 5rem 13vw;
    background-color: var(--white-color);
}

.projects >span, .projects > h3{
    display: block;
    text-align: center;
}

.projects > h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.projects .category-list-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow-x: scroll; */
    gap: 1rem;
    padding: 2rem 0 1rem;
    list-style-type: none;
}

.projects .category-list-container ul button{
    background-color: var(--light-gray-border-color);
    color:var(--dark-gray-color);
    border:1px solid transparent;
    padding: 0.5rem 1rem;
}

.projects .category-list-container ul button:hover,.projects .category-list-container ul button.active{
    background-color: var(--light-green-color);
    color:var(--white-color);
}

.projects .project-list-container {
    display: grid;
    grid-template-rows: repeat(2,19.45rem);
    grid-template-columns: repeat(4,25%);
}

.projects .project-list-container .project-item{
    position: relative;
    float: left;
    /* left: 553.994px;
    top: 270px; */
    /* position: relative; */
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center; 
    color:#000;
    overflow: hidden;
    cursor: pointer;
}

.projects .project-item img{
    width: 100%;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    object-fit: cover;
    /* background-image: url('./project-1.jpg'); */
    transition: all 0.3sec;
    /* transition-delay: 6sec; */
}

.projects .project-list-container .project-item:hover img{
    transform: scale(1.15);
           filter: contrast(95%) grayscale(50%);

}

.projects .project-list-container .project-item .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.1s ;
    /* opacity: 1; */
    text-align: center;
    /* transition: transform 0.3s ease-in-out; */
}

.projects .project-list-container .project-item span {
    position: absolute;
    z-index: 3;
    top: 42%;
    right: 0;
    left: 0;
    color: transparent;
    font: 700 1.55rem "Montserrat",sans-serif;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}
.projects .project-list-container .project-item:hover span{
    color: #fff;
    /* background-color: rgba(0,0,0,0.4); */
} 
/* .projects .project-list-container .project-item:hover span {
    opacity: 1;
} */


/* .projects .project-list-container .project-item:hover span {
    opacity: 1;
} */

/* .projects .project-item.p-2{
    background-image: url('./project-2.jpg');
}

.projects .project-item.p-3{
    background-image: url('./project-3.jpg');
}

.projects .project-item.p-4{
    background-image: url('./project-4.jpg');
}

.projects .project-item.p-5{
    background-image: url('./project-5.jpg');
}

.projects .project-item.p-6{
    background-image: url('./project-6.jpg');
}

.projects .project-item.p-7{
    background-image: url('./project-7.jpg');
}

.projects .project-item.p-8{
    background-image: url('./project-8.jpg');
} */

.team {
    padding: 5rem 13vw;
    background-color: var(--background-color);
}

.team > h4{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
    text-align: center;
}

.team > p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
    text-align: center;
}

.team .team-member-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
}

.team .team-member-list-container .team-member-item{
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.team .team-member-item .profile-picture{
    /* width: 100%; */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    margin-bottom: 1rem;
    overflow: hidden;
}

.team .team-member-item .profile-picture img{
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}

.team .team-member-item .profile-picture img:hover{
    transform: scale(1.13);
}

.team .team-member-item p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
}

.team .team-member-item h5{
    color:var(--dark-gray-color);
    font-size: 1rem;
    margin-top: 0rem;
    /* margin-bottom: 2rem; */
}

.team .team-member-item .social-links span{
    background-color: var(--light-green-color);
    color: var(--white-color);
    padding:0.75rem;
    cursor:pointer;
    border-radius: 13.1px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: all 0.125s ease-in-out;
}

.team .team-member-item .social-links span:hover{
    background-color: var(--white-color);
    color: var(--light-green-color);
}

.about{
    padding: 5rem 15vw;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}
.about > img{
    width: 50%;
    /* height: 40%; */
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));
}

.about > .content{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 4rem;
    padding: -2.5rem 0;
}

.about .content h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.about .content p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
}

.about .content ul{
    color:var(--light-gray-color);
    list-style-type: none;
    padding: 0;
}

.about .content ul li:before{
    content: '\25a0';
    color: var(--light-green-color);
    margin-right: 5px;
    font-size: 1.25rem;
}

.about .content .stats-list-container{
    padding: 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about .content .stats-list-container .stat-item{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.about .stat-item .number{
    color: var(--light-green-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.contact{
    padding: 5rem 13vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .content, .contact .form{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 10px;
}

.contact .content h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}

.contact .content p{
    color: var(--light-gray-color);
    line-height: 1.5rem;
    margin-top: -0.5rem;
}

.contact .content p i{
    color: var(--light-green-color);
    margin: 0 0.3rem 0 0;
    /* line-height: 1.5rem; */
}

.contact .content h4{
    color: var(--dark-gray-color);
    font-size: 1.5rem;
}

.contact .content .contact-info-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact .social-link-list-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.contact .social-link-list-container .social-link-item{
    background-color: var(--light-green-color);
    color: var(--white-color);
    padding: 1.2rem;
    cursor: pointer;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-radius: 16.1px;
}

.contact .social-link-list-container .social-link-item:hover{
    background-color: var(--white-color);
    color: var(--light-green-color);
}

.contact .form form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
}

.contact input, .contact textarea{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-gray-border-color);
    background-color: var(--white-color);
    color: var(--dark-gray-color);
    outline:var(--light-gray-color);
}

.contact textarea{
    height: 8rem;
}


.contact form label{
    color: var(--light-gray-color);
    line-height: 1.5rem;
}

footer {
    padding: 5rem 13vw;
    background-color: var(--dark-green-color);
    color: var(--white-color);
}

footer .footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
footer .footer-list-container .footer-item.wide{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer .footer-list-container .footer-item{
    width: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer .footer-list-container h5{
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
}

footer .footer-list-container p{
    color: var(--dark-white-color);
    line-height: 1.5rem;
    margin-right: 8rem;
}

footer a{
    color: var(--dark-white-color);
    line-height: 2rem;
}

footer a:visited{
    color: var(--dark-white-color);
    line-height: 2rem;
}

footer .copyright{
    padding-top: 3rem;
    color: var(--dark-white-color);
    text-align: center;
    line-height: 1.5rem;
}

#freecssfooter{
    display: block;
    width: 100%;
    padding: 120px 0 20px;
    overflow: hidden;
    background-color: var(--background-color);
    z-index: 5000;
    text-align: center;
}